<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome to Bleff!</h1>

    <p>Bleff es un divertido juego de ingenio y palabras. Los jugadores deben expresar el significado de esos vocablos y—si no lo conocen—inventarlo.</p>

    <h2>Cómo se juega</h2>
    <p>El coordinador elige una de las cinco palabras que contiene cada tarjeta y pone en marcha el reloj de arena. Todos los participantes escriben el significado de la palabra seleccionada y—quien no lo sepa—miente con inteligencia tratando de que su respuesta parezca la correcta.</p>

    <h2>La dinámica</h2>
    <p>Luego el coordinador lee todas las respuestas de manera engañosa, intentando confundir a los jugadores y—a continuación—cada uno de ellos vota por la definición que considera acertada.</p>

    <h2>Puntuación</h2>
    <p>El participante que indique la respuesta correcta ganará puntos, pero también los obtendrán quienes sean votados, ¡aunque su definición sea puro BLEFF!</p>

    <h2>El objetivo</h2>
    <p>Con estos puntos los jugadores avanzan en el tablero tratando de obtener el diploma.</p>

    <h1>Crea tu partida y compartela con tus amigos!</h1>
    <form id="createGameForm">
        <input type="text" id="gameName" placeholder="Enter game name">
        <button type="submit">Create Game</button>
    </form>

    <script src="{{ url_for('static', filename='js/main/script.js') }}"></script>
</body>
</html>
