<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome to Bleff!</h1>

    <h1>Crea tu partida y compartela con tus amigos!</h1>
    <form id="createGameForm">
        <input type="text" id="gameName" placeholder="Enter game name">
        <button type="submit">Create Game</button>
    </form>

    <script src="{{ url_for('static', filename='js/main/script.js') }}"></script>
</body>
</html>
